.about {
  background-color: var(--light-bg);
  padding: 80px 20px;
  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}

.about__text {
  flex: 1 1 500px;
  color: #333;
}

.about__subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.about__title span {
  font-style: italic;
  font-weight: 500;
}

.about__description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}

.about__button {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  margin: 0 auto;
}

.about__button:hover {
  background-color: #444;
}

.about__image-wrapper {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
}

.about__image-card {
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.about__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

// Gallerry
.gallery-strip {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.gallery-strip a {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}

.gallery-strip img {
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.gallery-strip img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
