body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}
.social {
  display: flex;
  align-items: center;
  gap: 30px;
  &__item {
    width: 16px;
    height: 16px;
    span {
      font-size: 20px;
      color: var(--light-dark);
    }
  }
}
.header {
  padding-top: 20px;
  transition: all 0.625s ease-in-out;

  &__top {
    position: relative;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      .social {
        display: none;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__bottom {
    padding: 20px 0;
    @media screen and (min-width: 768px) {
      .social {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .social {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      li {
        position: relative;
        @media screen and (max-width: 768px) {
          font-size: 27px;
        }
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--light-dark);
        transition: color 0.3s ease;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease;
          background-color: var(--light-btn);
        }
        @media screen and (max-width: 768px) {
          &::after {
            display: none;
          }
        }

        &:visited::after {
          transform: scaleX(1);
        }
        &:hover::after {
          color: var(--light-btn);
          transform: scaleX(1);
          transform-origin: left; /* Виїзд зліва */
        }
        &:not(:hover)::after {
          transform-origin: right; /* Заїзд справа */
        }
        &.nav-active {
          color: var(--light-btn);
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    &.fixed-top {
      position: absolute;
      top: 70px;
      right: 0;
      left: 0;
      z-index: 1030;
      background: var(--light-bg);
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      display: none;
      &.active {
        margin: 20px 0;
        // position: fixed; /* Фіксує меню */
        // top: 70px;
        // left: 0;
        display: flex;
        width: 100vw;
        height: 100%;
        background-color: var(--light-bg);
        z-index: 10000;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        transform: translateY(0);
      }
    }
    // &.nav-down {
    //   position: static;
    // }
    &.nav-up {
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      background-color: var(--light-bg);
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    &.active {
      width: 100vw;
      height: 100%;
      overflow: scroll;
      // position: fixed;
      // top: 0;
      // left: 0;
      z-index: 10000;
      background-color: var(--light-bg);
    }
  }
  &.nav-up {
    position: fixed;
    top: 0;
    background-color: var(--light-bg);
    width: 100%;
    z-index: 10000;
  }
}
// .header__bottom.nav-up {
//   transform: translateY(100%);
//   transition: transform 0.3s ease;
// }

// .header__bottom.nav-down {
//   transform: translateY(0);
//   transition: transform 0.3s ease;
// }
.social__menu {
  position: absolute;
  top: 0;
  width: 45%;
  height: 30%;
  transform: translateX(calc(-100% - 10px));
  margin: 0;
  transition: all 1s ease;
  background-color: rgba(167, 160, 160, 0.156);
  box-shadow: 5px 5px 5px var(--light-bg);
  z-index: 100000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
    background-color: rgba(167, 160, 160, 0.91);
  }
  .social__char {
    width: 50px;
    height: 50px;
    border: 1px solid var(--light-dark);
    box-shadow: 5px 5px 5px var(--light-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    a {
      @media screen and (max-width: 768px) {
        color: var(--light-dark);
      }
    }
  }
  .social__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
