body.menu-open,
body.menu-open-one {
  position: fixed;
  overflow: hidden !important;
  width: 100%;
  top: 0;
  left: 0;
  // @media screen and (max-width: 768px) {
  //   height: 100vh;
  // }
}
main {
  padding-top: 10px; /* Запас щоб хедер не перекривав вміст */
}

.header {
  padding-top: 20px;
  transition: all 0.625s ease-in-out;

  &__top {
    position: relative;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      .social {
        display: none;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Dancing Script", cursive;

    font-weight: 500;
    font-style: normal;
  }

  &__button {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__bottom {
    padding: 20px 0;

    @media screen and (min-width: 768px) {
      .social {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .social {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
      }
    }
    @media screen and (max-width: 768px) {
      nav {
        width: 100%;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }

      li {
        position: relative;
        @media screen and (max-width: 768px) {
          font-size: 20px;
          width: 100%;
        }
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--light-dark);
        transition: color 0.3s ease;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease;
          background-color: var(--light-btn);
        }
        @media screen and (max-width: 768px) {
          display: block;

          &::after {
            transform: scaleX(1);
            background-color: #f8f4f1;
          }
        }

        &:visited::after {
          transform: scaleX(1);
        }
        &:hover::after {
          color: var(--light-btn);
          transform: scaleX(1);
          transform-origin: left; /* Виїзд зліва */
        }
        &:not(:hover)::after {
          transform-origin: right; /* Заїзд справа */
        }
        &.nav-active {
          color: var(--light-btn);
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
          @media screen and (max-width: 768px) {
            color: var(--light-dark);
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding-top: 20px;
      display: none;
      width: 100%;
      height: calc(100vh - 72px);
      background-color: var(--light-bg);
      z-index: 10000;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      &.active {
        display: flex;
        ul {
          li {
            color: #f8f4f1;
            a {
              color: #f8f4f1;
            }
          }
        }
      }
    }

    &.nav-down1 {
      position: static;
    }
    &.nav-up1 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      background-color: var(--light-bg);
      width: 100%;
      z-index: 1000;
    }
  }

  @media screen and (max-width: 768px) {
    .header__bottom {
      background: transparent;
      overflow: scroll;
      ul.nav-items {
        flex-direction: column;

        li {
          opacity: 0;
          transform: translateX(-100%);
          transition: transform 0.4s ease, opacity 0.4s ease;
        }

        &.animate li {
          opacity: 1;
          transform: translateX(0);
        }

        // Анімаційна затримка для кожного елемента
        li:nth-child(1) {
          transition-delay: 0.1s;
        }
        li:nth-child(2) {
          transition-delay: 0.2s;
        }
        li:nth-child(3) {
          transition-delay: 0.3s;
        }
        li:nth-child(4) {
          transition-delay: 0.4s;
        }
        li:nth-child(5) {
          transition-delay: 0.5s;
        }
        li:nth-child(6) {
          transition-delay: 0.6s;
        }
        li:nth-child(7) {
          transition-delay: 0.7s;
        }
        li:nth-child(8) {
          transition-delay: 0.8s;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
    background-color: var(--light-bg);
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      // right: 0;
      z-index: 10;
    }

    &.nav-up {
      transform: translateY(-72px);
      // top: -56px;
    }

    &.nav-down {
      transform: translateY(0);
    }
  }

  &.active {
    background: url("../img/hero/picnic_scene_2_optimized.webp") center center /
      cover no-repeat;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 30px;
  &__item {
    width: 16px;
    height: 16px;
    span {
      font-size: 20px;
      color: var(--light-dark);
    }
  }
}

.social__menu {
  display: none;
  position: fixed;
  top: 50%;
  // left: calc(-100% - 2px);
  left: 25%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 45%;
  height: 30%;
  margin: 0;
  transition: transform 1s ease;
  background-color: #f8f4f1;

  z-index: 100000;
  border-radius: 20px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
    left: 0;
  }
  .social__char {
    width: 50px;
    height: 50px;
    border: 1px solid var(--light-dark);
    box-shadow: 5px 5px 5px var(--light-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    a {
      color: var(--light-dark);
    }
  }

  .social__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &.active {
    transform: translateY(-50%);
    display: flex;
    border: 1px solid #ccc;
  }
}
.header__bottom .social__wrap {
  gap: 15px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}
.social__char-mobile {
  display: none;
  justify-content: center;
  padding-right: 10px;

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    display: flex;
    padding: 5px;
    &:nth-child(1) {
      background-color: #e029c347;
      filter: drop-shadow(16px 16px 20px #e029c347);
    }
    &:nth-child(2) {
      background-color: #285fe16b;
      filter: drop-shadow(16px 16px 20px #285fe16b);
    }
    &:nth-child(3) {
      background-color: #36aee186;
      filter: drop-shadow(16px 16px 20px #36aee186);
    }
    &:nth-child(4) {
      background-color: #00b04176;
      filter: drop-shadow(16px 16px 20px #00b04176);
    }
    &:nth-child(5) {
      background-color: #b2bcc17b;
      filter: drop-shadow(16px 16px 20px #b2bcc17b);
    }
  }
}
.header__bottom .social__link-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  justify-content: space-between;
  width: 100%;
}
// .header__bottom .social__char-mobile a.social__link-mobile {
//   font-family: "Dancing Script", cursive;
// }

.social__overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.8s;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social__overlay.active {
  display: flex;
}

.contact-details.contact-details-mobile {
  display: none;
  justify-content: flex-start;
  a {
    text-transform: none;
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    display: flex;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header__bottom .contact-details a::after {
    transform: none;
    animation: none;
    width: 0;
  }
}
