.hero {
  padding: 0;
  height: calc(100vh - 132px);
  // @media screen and (max-width: 768px) {
  //   padding-top: 72px;
  // }
}
.hero {
  .container {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 132px);
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease;
}

.slide-bg.next {
  opacity: 0;
  z-index: 1;
}

.slide-bg.current {
  z-index: 0;
}

.slider-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative; */
  z-index: 2;
  color: var(--light-bg);
  text-align: center;
  // padding: 20px;
  pointer-events: none;
  user-select: none;
  @media screen and (max-width: 768px) {
    top: 80%;
  }
}

.slider-content h1 {
  font-size: clamp(1rem, 3vw, 2.5rem);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.slider-content p {
  font-size: clamp(2.5rem, 2vw, 1.2rem);
  margin-bottom: 15px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.slider-content a.button__hero {
  position: relative;
  padding: 4px 10px;
  color: var(--light-bg);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: background 0.3s;
  // display: inline-block;
  pointer-events: auto;
  user-select: auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

// .slider-content a.button__hero span::after {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 1px;
//   border-radius: 100%;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   background-color: var(--light-bg);
//   box-shadow: 1px 1px 1px var(--light-bg);
//   transition: all 0.5s ease-in-out;
// }
.slider-content a.button__hero:hover {
  color: black;
  box-shadow: 0 0 15px #f0feff, 0 0 30px #f8f0ff;
  // filter: drop-shadow(8px 8px 10px #f6fff0);
  // animation: pulseOne 0.6s infinite alternate;
}
// @keyframes pulseOne {
//   from {
//     transform: scale(1);
//   }
//   to {
//     transform: scale(1.08);
//   }
// }
// .slider-content a.button__hero:hover span::after {
//   box-shadow: 0px 1px 1px var(--light-bg);
//   height: 2px;
// }

.slider-content a.button__hero:hover img {
  transform: scale(1.2);
}
.nav__hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var(--light-bg);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 3;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.2s;
  user-select: none;
}

.slider:hover .nav__hero {
  opacity: 1;
  pointer-events: auto;
}

.nav__hero:hover {
  transform: translateY(-50%) scale(1.2);
}

.nav__hero.left {
  left: 15px;
}
.nav__hero.right {
  right: 15px;
}

@media screen and (max-width: 768px) {
  // .slider {
  //   margin: 0 auto;
  // }
  .slider-content h1 {
    font-size: 2rem;
  }
  .slider-content p {
    display: none;
  }
  .nav__hero {
    display: none;
  }
}
.hero__descr {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  min-height: 50px;
}
.button__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff1f0a2;
  max-width: 300px;
  border-radius: 49px;
  margin: 0 auto;
  img {
    width: 45px;
  }
  span {
    font-family: "Great Vibes", cursive;
  }
}
.tittle.hero__title {
  font-family: "Great Vibes", cursive;
}
.hero__descr {
  font-family: "Great Vibes", cursive;
}
