.hero {
  padding: 0;
  height: calc(100vh - 132px);
  @media screen and (max-width: 768px) {
    padding-top: 75px;
  }
}
.slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 132px);
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease;
}

.slide-bg.next {
  opacity: 0;
  z-index: 1;
}

.slide-bg.current {
  z-index: 0;
}

.slider-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative; */
  z-index: 2;
  color: var(--light-bg);
  text-align: center;
  padding: 20px;
  pointer-events: none;
  user-select: none;
}

.slider-content h1 {
  font-size: clamp(1rem, 3vw, 2.5rem);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.slider-content p {
  font-size: clamp(2.5rem, 2vw, 1.2rem);
  margin-bottom: 15px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.slider-content a.button__hero {
  position: relative;
  padding: 10px 20px;
  color: var(--light-bg);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: background 0.3s;
  display: inline-block;
  pointer-events: auto;
  user-select: auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.slider-content a.button__hero span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--light-bg);
  box-shadow: 1px 1px 1px var(--light-bg);
  transition: all 0.5s ease-in-out;
}
.slider-content a.button__hero:hover {
  color: var(--light-btn);
}
.slider-content a.button__hero:hover span::after {
  box-shadow: 0px 1px 1px var(--light-bg);
  height: 2px;
}
.nav__hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var(--light-bg);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 3;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.2s;
  user-select: none;
}

.slider:hover .nav__hero {
  opacity: 1;
  pointer-events: auto;
}

.nav__hero:hover {
  transform: translateY(-50%) scale(1.2);
}

.nav__hero.left {
  left: 15px;
}
.nav__hero.right {
  right: 15px;
}

@media screen and (max-width: 768px) {
  .slider {
    margin: 0 auto;
  }
  .slider-content h1 {
    font-size: 2rem;
  }
  .slider-content p {
    display: none;
  }
  .nav__hero {
    display: none;
  }
}
