.button {
  font-family: Nunito, sans-serif;
  color: #ffffff;
  fill: #ffffff;
  font-weight: 400;
  padding: 1.5em;
  letter-spacing: 0.1em;
  overflow: hidden;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: #9c8b7e;
  font-size: 12px;
}
