.button {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  padding: 1.5em;
  letter-spacing: 0.1em;
  overflow: hidden;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: #fff1f0;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
}
