:root {
  --light-bg: #ffffff;
  --light-btn: #9c8b7e;
  --light-dark: #161111;
  --dark-bg: #252525;
  --dark-btn: #c6a686;
  --dark-light: #ffffff;
  --container-padding-hr: 5%;
  --footer-padding-hr: 10%;
  --font-title: "Cormorant", sans-serif;
}
